@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$poppins: 'Poppins', sans-serif;
$background-color: #121212; 
$dark-gray: #121212;
$text-color: rgb(238, 240, 242);
$tealblue: rgb(51, 109, 130);
$russiangreen: rgb(115, 149, 111);
$middlebluegreen: rgb(129, 230, 217);


.row {
  margin: 10px;
}

.user-profile {
  background-color: $text-color;
  color: $background-color;
  padding-bottom: 10px;
}

.update-inputs {
  background-color: $text-color;
  color: $background-color;
  padding-bottom: 10px;
}

.favmov-inputs {
  background-color: $text-color;
  color: $background-color;
  padding-bottom: 10px;
}